@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1  style="margin-top:50px">Courses</h1>
    <div class="container-fluid">
    <div class="bg-light"  style="margin-top:250px">
    @Html.ActionLink("Course List", "../Courses/Index")
</div>
        </div>
</div>
