<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderSection("Students")
    </div>
    <div>
        @RenderSection("Modules")
    </div>
</body>
</html>
